<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hit.spt.mapper.EventMapper">
    <insert id="insertEvent" parameterType="Event">
        insert into event(user_id_stu, eq_id, text_stu)
        values (#{user_id_stu}, #{eq_id}, #{text_stu})
    </insert>
    <select id="queryEventByID" parameterType="java.lang.Integer" resultType="Event">
        select *
        from event
        where ev_id = #{ev_id}
    </select>
    <select id="queryEventByEqID" parameterType="java.lang.Integer" resultType="Event">
        select *
        from event
        where eq_id = #{eq_id} AND statement = 0
    </select>
    <select id="queryEventByUserStu" parameterType="java.lang.Integer" resultType="Event">
        select *
        from event
        where user_id_stu = #{user_id_stu}
    </select>
    <select id="queryEventByUserPro" parameterType="java.lang.Integer" resultType="Event">
        select *
        from event
        where user_id_pro = #{user_id_pro}
    </select>
    <select id="queryEventByEquipment" parameterType="java.lang.Integer" resultType="Event">
        select *
        from event
        where eq_id = #{eq_id}
    </select>
    <select id="queryEventByStatement" parameterType="java.lang.Integer" resultType="Event">
        select *
        from event
        where statement= #{statement}
    </select>
    <update id="maintainEvent" parameterType="Event">
        update event
        set text_pro = #{text_pro},
            statement = #{statement},
            user_id_pro = #{user_id_pro}
        where eq_id = #{eq_id} AND statement = 0
    </update>
</mapper>