<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hit.spt.mapper.CategoryMapper">
    <insert id="insertCategory" parameterType="Category">
        insert into category(c_name, text)
        values (#{c_name}, #{text})
    </insert>
    <select id="queryCategoryByName" parameterType="java.lang.String" resultType="Category">
        select *
        from category
        where c_name = #{c_name}
    </select>
    <select id="queryCategoryList" resultType="Category">
        select *
        from category
    </select>
    <update id="maintainNumber" parameterType="Category">
        update category
        set e_num = #{e_num}
        where c_id = #{c_id}
    </update>
</mapper>