<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hit.spt.mapper.EquipmentMapper">
    <insert id="insertEquipment" parameterType="Equipment">
        insert into equipment(cate_name, text)
        values (#{cate_name}, #{text})
    </insert>
    <select id="queryEquipmentByID" parameterType="java.lang.Integer" resultType="Equipment">
        select *
        from equipment
        where e_id = #{e_id}
    </select>
    <select id="queryEquipmentByCate" parameterType="java.lang.String" resultType="Equipment">
        select *
        from equipment
        where cate_name = #{cate_name}
    </select>
    <select id="queryEquipmentByStatement" parameterType="java.lang.Integer" resultType="Equipment">
        select *
        from equipment
        where statement = #{statement}
    </select>
    <select id="queryEquipmentList" parameterType="java.lang.Integer" resultType="Equipment">
        select *
        from equipment
    </select>
    <delete id="deleteEquipment" parameterType="java.lang.Integer">
        delete
        from equipment
        where e_id = #{e_id}
    </delete>
    <update id="setStatement" parameterType="Equipment">
        update equipment
        set statement = #{statement}
        where e_id = #{e_id}
    </update>
</mapper>